<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
	<!--33測試機-->
	 
	<!-- <add name="TestSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.23;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;"/>
	<add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.90.101.83;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;"/>
	<add name="EpSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.51;Initial Catalog=ep-skm;User ID=epuser;Password=skmepuser;" />
    <add name="NewsLetter" providerName="System.Data.SqlClient" connectionString="Data Source=10.90.101.33;Initial Catalog=EP_SKM;User ID=epuser;Password=skmepuser;"/> -->

	<!--本地測試機-->	 
	<add name="TestSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A0DF9U6;Initial Catalog=portal;User ID=sa;Password=sa1234;"/>
	<add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A0DF9U6;Initial Catalog=portal;User ID=sa;Password=sa1234;"/>
	<add name="EpSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A0DF9U6;Initial Catalog=portal;User ID=sa;Password=sa1234;" />
    <add name="NewsLetter" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-A0DF9U6;Initial Catalog=portal;User ID=sa;Password=sa1234;"/>

	<!--正式機-->	
  <!-- <add name="TestSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.23;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;" />
  <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.90.101.33;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;" />
  <add name="EpSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.51;Initial Catalog=ep_skm;User ID=epuser;Password=skmepuser;" />
  <add name="NewsLetter" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.51;Initial Catalog=EPAPERSYS;User ID=epapersysadmin;Password=epaperSYSadmin;" /> -->
    
	<!--AWS-->
	<!--
	<add name="TestSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.1.101.23;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;" />
	<add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=10.9.208.70;Initial Catalog=portal;User ID=portaladmin;Password=skmportaladmin;" />
	<add name="NewsLetter" providerName="System.Data.SqlClient" connectionString="Data Source=10.9.208.70;Initial Catalog=EPAPERSYS;User ID=epapersysadmin;Password=epaperSYSadmin;" />
	-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- 僅供本機除錯：登入失敗時回傳權限診斷資訊 -->
		<add key="EnableLocalLoginDebug" value="true" />
		<!-- 僅供本機除錯：允許略過 para_permission 檢查的測試帳號（逗號分隔） -->
		<add key="LocalBootstrapAccounts" value="00025371" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<globalization culture="zh-TW" uiCulture="zh-TW" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<!-- 404 / 403 轉導到登入頁 -->
		<customErrors mode="On" defaultRedirect="~/Account/Login" redirectMode="ResponseRedirect">
			<error statusCode="404" redirect="~/Home/Error" />
			<error statusCode="403" redirect="~/Account/Login" />
		</customErrors>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>